body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #eeeeee;
    background-color: #333333;
}

.container {
    height: 100%;
}

.row.screen {
    height: 100%;
}

.side-menu {
    background-color: #444444;
}

.side-menu button {
    width: 100%;
    position: relative;
}

.side-menu button i {
    position: absolute;
    left: 12px;
}
